---
export interface Props {
  title: string;
}
import '@fontsource/b612-mono';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Karla&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --base-spacing: 8px;
  }

  body {
    font-family: 'B612 Mono', monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    overflow: hidden;
  }

  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  }
</style>
